<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="style.css">
<link rel="stylesheet" style="text/css" href="admin.css">
<link rel="stylesheet" type="text/css" href="bootmodal.css">
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body style="background-color: #d3d3d3">

		<div id="viewsensor">
			<button style="margin-top: 40px" id="viewusers"
				data-ng-click="show()">
				<b>View Sensors</b>
			</button>

			<h1>Sensor Details</h1>
			<table class="table">
				<thead>
					<tr class="table1">
						<th class="table">sensortype</th>
						<th class="table">Frequency</th>
						<th class="table">Edit</th>
					</tr>
				</thead>
				<tbody>
					<tr data-ng-repeat="sensor in sensors" class="table1">
						<th class="table">{{sensor.sensortype}}</th>
						<th class="table">{{sensor.frequency}}</th>
						<th class="table"><a href="" data-ng-click="editsensor(sensor)">Edit</a></th>
					</tr>
				</tbody>
			</table>
		</div>
</body>
</html>